@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,600;1,700;1,900&family=Poppins:ital,wght@0,300;0,400;0,700;0,800;1,400;1,700&display=swap");

@layer base {
  html,
  body {
    padding: 0;
    margin: 0;
    @apply font-pt-sans;
  }

  /* a {
    color: inherit;
    text-decoration: none;
  }

  * {
    box-sizing: border-box;
  } */
}

@layer components {
  .slider > li {
    flex: 0 0 calc(66% - var(--col-offset));
    max-width: calc(66% - var(--col-offset));
  }

  @media screen(lg) {
    .slider > li {
      flex: 0 0 calc(50% - var(--col-offset));
      max-width: calc(50% - var(--col-offset));
    }
  }

  @media screen(xl) {
    .slider > li {
      flex: 0 0 calc(33% - var(--col-offset));
      max-width: calc(33% - var(--col-offset));
    }
  }
}
